/*
  Icon Font: font-os
*/

@font-face {
  font-family: "font-os";
  src: url("fonts/font-os.eot");
  src: url("fonts/font-os.eot?#iefix") format("embedded-opentype"),
       url("fonts/font-os.woff") format("woff"),
       url("fonts/font-os.ttf") format("truetype"),
       url("fonts/font-os.svg#font-os") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-os";
    src: url("../fonts/font-os.svg#font-os") format("svg");
  }
}

.fo {
}



.fo-12 { font-size: 12px; }

.fo-14 { font-size: 14px; }

.fo-16 { font-size: 16px; }

.fo-18 { font-size: 18px; }

.fo-21 { font-size: 21px; }

.fo-24 { font-size: 24px; }

.fo-36 { font-size: 36px; }

.fo-48 { font-size: 48px; }

.fo-60 { font-size: 60px; }

.fo-72 { font-size: 72px; }


[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fo-alpine:before,
.fo-aosc:before,
.fo-apple:before,
.fo-archlinux:before,
.fo-centos:before,
.fo-coreos:before,
.fo-debian:before,
.fo-docker:before,
.fo-elementary:before,
.fo-fedora:before,
.fo-fedora-inverse:before,
.fo-freebsd:before,
.fo-gentoo:before,
.fo-linuxmint:before,
.fo-linuxmint-inverse:before,
.fo-mageia:before,
.fo-mandriva:before,
.fo-manjaro:before,
.fo-nixos:before,
.fo-opensuse:before,
.fo-raspberry-pi:before,
.fo-redhat:before,
.fo-sabayon:before,
.fo-slackware:before,
.fo-slackware-inverse:before,
.fo-tux:before,
.fo-ubuntu:before,
.fo-ubuntu-inverse:before,
.fo-win10:before {
  display: inline-block;
  font-family: "font-os";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fo-alpine:before { content: "\f100"; }
.fo-aosc:before { content: "\f101"; }
.fo-apple:before { content: "\f102"; }
.fo-archlinux:before { content: "\f103"; }
.fo-centos:before { content: "\f104"; }
.fo-coreos:before { content: "\f105"; }
.fo-debian:before { content: "\f106"; }
.fo-docker:before { content: "\f107"; }
.fo-elementary:before { content: "\f108"; }
.fo-fedora:before { content: "\f109"; }
.fo-fedora-inverse:before { content: "\f10a"; }
.fo-freebsd:before { content: "\f10b"; }
.fo-gentoo:before { content: "\f10c"; }
.fo-linuxmint:before { content: "\f10d"; }
.fo-linuxmint-inverse:before { content: "\f10e"; }
.fo-mageia:before { content: "\f10f"; }
.fo-mandriva:before { content: "\f110"; }
.fo-manjaro:before { content: "\f111"; }
.fo-nixos:before { content: "\f112"; }
.fo-opensuse:before { content: "\f113"; }
.fo-raspberry-pi:before { content: "\f114"; }
.fo-redhat:before { content: "\f115"; }
.fo-sabayon:before { content: "\f116"; }
.fo-slackware:before { content: "\f117"; }
.fo-slackware-inverse:before { content: "\f118"; }
.fo-tux:before { content: "\f119"; }
.fo-ubuntu:before { content: "\f11a"; }
.fo-ubuntu-inverse:before { content: "\f11b"; }
.fo-win10:before { content: "\f11c"; }

@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

@charset "UTF-8";

@font-face {
  font-family: "linea-music-10";
  src:url("fonts/linea-music-10.eot");
  src:url("fonts/linea-music-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-music-10.woff") format("woff"),
    url("fonts/linea-music-10.ttf") format("truetype"),
    url("fonts/linea-music-10.svg#linea-music-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-music-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-music"]:before,
[class*=" icon-music"]:before {
  font-family: "linea-music-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music-beginning-button:before {
  content: "a";
}
.icon-music-bell:before {
  content: "b";
}
.icon-music-cd:before {
  content: "c";
}
.icon-music-diapason:before {
  content: "d";
}
.icon-music-eject-button:before {
  content: "e";
}
.icon-music-end-button:before {
  content: "f";
}
.icon-music-fastforward-button:before {
  content: "g";
}
.icon-music-headphones:before {
  content: "h";
}
.icon-music-ipod:before {
  content: "i";
}
.icon-music-loudspeaker:before {
  content: "j";
}
.icon-music-microphone:before {
  content: "k";
}
.icon-music-microphone-old:before {
  content: "l";
}
.icon-music-mixer:before {
  content: "m";
}
.icon-music-mute:before {
  content: "n";
}
.icon-music-note-multiple:before {
  content: "o";
}
.icon-music-note-single:before {
  content: "p";
}
.icon-music-pause-button:before {
  content: "q";
}
.icon-music-play-button:before {
  content: "r";
}
.icon-music-playlist:before {
  content: "s";
}
.icon-music-radio-ghettoblaster:before {
  content: "t";
}
.icon-music-radio-portable:before {
  content: "u";
}
.icon-music-record:before {
  content: "v";
}
.icon-music-recordplayer:before {
  content: "w";
}
.icon-music-repeat-button:before {
  content: "x";
}
.icon-music-rewind-button:before {
  content: "y";
}
.icon-music-shuffle-button:before {
  content: "z";
}
.icon-music-stop-button:before {
  content: "A";
}
.icon-music-tape:before {
  content: "B";
}
.icon-music-volume-down:before {
  content: "C";
}
.icon-music-volume-up:before {
  content: "D";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0 2.5vh 0 2.5vh !important; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0 !important; } }

@keyframes fadeInHeader {
  0% {
    opacity: 0;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%); }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInMain {
  0% {
    opacity: 0;
    transform: translate(0, 10vh); }
  100% {
    opacity: 1; } }

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  line-height: 1.5;
  color: #060b0d; }

::selection {
  background: #12e4a6;
  color: #fff; }

.heading-primary {
  backface-visibility: hidden;
  margin: 2rem; }
  .heading-primary--main {
    color: #fff;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;
    animation: fadeInMain .5s; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        margin-right: -1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    color: #d4e1e6;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .17rem;
    animation: fadeIn .75s .75s;
    animation-fill-mode: backwards;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.4rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #12e4a6, #00b4f6);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.5rem; } }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 2rem; } }

.paragraph {
  font-size: 1.2rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.5rem; } }

.text-frame {
  display: inline-block;
  padding: .5rem 1.25rem;
  background-color: rgba(212, 225, 230, 0.6);
  border-radius: 2px;
  transform: skewX(-12deg); }

@media only screen and (max-width: 37.5em) {
  .about__body {
    padding: 3rem 5rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 14rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 7rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-large {
      margin-bottom: 4rem !important; } }

.u-margin-bottom-medium-large {
  margin-bottom: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium-large {
      margin-bottom: 5rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium-large {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 1.75rem !important; } }

.u-margin-bottom-small {
  margin-bottom: .5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: .25rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: .2rem !important; } }

.u-unskew {
  transform: skewX(12deg) !important; }

.u-flexbox-spacer {
  width: 100%; }

.section-anchor {
  display: block;
  visibility: hidden;
  height: 2.5vh;
  margin-top: -2.5vh; }
  @media only screen and (max-width: 56.25em) {
    .section-anchor {
      height: 0;
      margin-top: 0; } }

.section-about {
  height: 95vh;
  background-color: #d4e1e6;
  padding: 10rem 0;
  margin-bottom: 2.5vh;
  padding-bottom: 21rem; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0;
      height: auto;
      min-height: 100vh; } }

.section-features {
  height: 95vh;
  margin-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, black, rgba(255, 255, 255, 0.8)), url(../img/bent.jpg);
  background-size: cover;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      height: auto;
      min-height: 100vh; } }

.section-demonstration {
  height: 95vh;
  padding: 5vh 0;
  margin-bottom: 2.5vh;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .section-demonstration {
      height: 100vh;
      padding: 10rem 0; } }

.section-downloads {
  max-height: 95vh;
  height: auto;
  background-color: #d4e1e6;
  margin-bottom: 2.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-downloads__title {
    position: relative;
    top: 10vh; }

.section-email {
  display: none;
  height: 95vh;
  padding: 15rem 0;
  margin-bottom: 2.5vh;
  background-image: linear-gradient(to right bottom, #00b4f6, #12e4a6); }
  @media only screen and (max-width: 56.25em) {
    .section-email {
      height: auto;
      min-height: 100vh; } }

.email {
  width: 80vw;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 50%), url(../img/circle3.jpg);
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .email {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 70%), url(../img/circle3.jpg); } }
  .email__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .email__form {
        width: 70%; } }

.section-social {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 0;
  margin-bottom: 2.5vh;
  background-image: linear-gradient(to right bottom, #2e3233, #464c4e); }
  @media only screen and (max-width: 56.25em) {
    .section-social {
      height: auto;
      min-height: 100vh;
      padding: 3rem 0; } }

.btn, .btn:link, .btn:visited {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1.3rem 3rem;
  display: inline-block;
  border-radius: 2px;
  transition: all .2s;
  animation: fadeIn 1s ease-in 1s;
  animation-fill-mode: backwards;
  position: relative;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      padding: 1rem 1.75rem;
      font-size: 1.75rem; } }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #12e4a6;
  color: #d4e1e6; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background-color: #12e4a6;
  color: #060b0d; }

.btn-text:link, .btn-text:visited {
  font-size: 1.2rem;
  font-weight: 400;
  color: #00b4f6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00b4f6;
  padding: 3px;
  transition: .2s linear all; }

.btn-text:hover {
  color: #fff;
  background-color: #12e4a6;
  border-bottom: 1px solid #12e4a6;
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0px);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: .1s linear all;
    z-index: 0; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33%; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 10%; } }
    .composition__photo--p2 {
      right: 0;
      top: 0rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0; } }
    .composition__photo--p3 {
      left: 20%;
      top: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: -10%; } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(0.5rem);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: .2s linear transform;
  margin: 0 auto; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to bottom right, #12e4a6, #00b4f6);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-0.5rem); }
  .feature-box__text {
    font-size: 1.2rem; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      min-height: 5rem;
      padding: 1rem;
      max-width: 50vw; }
      .feature-box__icon {
        font-size: 5rem;
        margin-bottom: 0; }
      .feature-box__text {
        line-height: 1.25;
        font-size: 1.5rem; } }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 150rem;
  position: relative;
  height: 22vh;
  width: 25vw;
  max-width: 25rem; }
  .card__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 67%;
    height: 100vh; }
  .card__side {
    height: inherit;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2px; }
    .card__side--front {
      background-image: linear-gradient(to bottom, #c4d6dd, #b4cbd3);
      z-index: 1; }
    .card__side--back {
      background-image: linear-gradient(to bottom, #b4cbd3, #a4bfca);
      transform: rotateY(180deg);
      z-index: 0; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__icon {
    font-size: 10rem;
    text-align: center; }
    .card__icon--mac .fo-apple::before {
      background-image: linear-gradient(to bottom, #2bcb9c, #19a9dd);
      -webkit-background-clip: text;
      color: transparent; }
    .card__icon--windows .fo-win10::before {
      background-image: linear-gradient(to bottom, #2bcb9c, #19a9dd);
      -webkit-background-clip: text;
      color: transparent; }
    .card__icon--linux .fo-tux::before {
      background-image: linear-gradient(to bottom, #2bcb9c, #19a9dd);
      -webkit-background-clip: text;
      color: transparent; }
  .card__heading {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center; }
  .card__details {
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center; }
  .card__download-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__download-box {
    text-align: center; }
  @media only screen and (max-width: 75em) {
    .card {
      height: 18.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: 19rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      height: 18rem; } }

.demonstration {
  width: 50%;
  height: auto;
  margin: 10rem auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  padding: 2rem 4rem;
  transform: skewX(-12deg);
  transition: 1s linear all;
  opacity: 1; }
  .demonstration__heading {
    transform: skewX(12deg); }
  .demonstration__subheading {
    font-size: 1.8rem; }
  .demonstration__text {
    transform: skewX(12deg); }
  .demonstration__text--description {
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    .demonstration {
      width: 100%;
      padding: 2rem 3rem;
      height: auto; } }
  @media only screen and (max-width: 37.5em) {
    .demonstration {
      padding: 1rem 2rem;
      transform: skewX(0deg);
      height: auto; }
      .demonstration__text {
        transform: skewX(0deg); }
      .demonstration__text--description {
        font-size: 1.5rem; } }

.bg-p5 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .75;
  overflow: hidden; }
  .bg-p5 #p5-container {
    position: relative;
    width: 100%;
    height: 100%; }
    .bg-p5 #p5-container canvas {
      width: 100% !important;
      height: auto !important; }

.transport-controls {
  display: inline-block;
  background-color: rgba(46, 50, 51, 0.8);
  border-radius: 2px;
  padding: .8rem 2rem 0rem 2rem; }
  .transport-controls__icon {
    font-size: 4rem;
    margin: 0 2rem;
    background-image: linear-gradient(to right, #12e4a6, #00b4f6);
    -webkit-background-clip: text;
    color: transparent; }
  .transport-controls__icon:hover {
    cursor: pointer; }
  .transport-controls__label {
    color: #fff;
    font-size: 1.4rem;
    padding-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .transport-controls__icon {
      font-size: 6rem; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .form__group:not(:last-child) {
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__group:not(:last-child) {
      margin-bottom: 0; } }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2 rem;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 67%;
  display: block;
  transition: .2s linear all; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 85%; } }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #12e4a6; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ed1b59; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .7rem;
  transition: .5s linear all;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form__radio-group {
  width: 49%;
  padding-left: 3rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.3rem solid #12e4a6;
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: .5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2e3233;
    opacity: 0;
    transition: .1s linear opacity; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  background-color: #2e3233; }
  .social + a {
    text-decoration: none; }
  .social a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto; }
  .social__icon {
    height: 67%;
    width: auto; }
    .social__icon:hover {
      fill: red; }
  .social__title {
    padding-top: 1rem;
    color: #94b4c1;
    text-align: center;
    transition: .1s linear color; }
    .social__title:hover {
      color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .social {
      width: 100%;
      height: 15vh; } }
  @media only screen and (max-width: 37.5em) {
    .social {
      width: 100%;
      height: 15vh; } }

a svg:hover #github,
a svg:hover .st0 {
  fill: #00b4f6; }

a svg:hover .email-svg {
  stroke: #00b4f6; }

a svg #github,
a svg .st0,
a svg .email-svg {
  transition: .1s linear all; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  margin-bottom: 2.5vh;
  background-image: linear-gradient(to bottom right, black, rgba(255, 255, 255, 0.5)), url(../img/warp_transparent.png);
  background-size: cover;
  background-position: top;
  position: relative;
  animation: fadeInHeader 1s ease-in-out both; }
  .header__logo-box {
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in 1s;
    animation-fill-mode: backwards; }
  .header__logo {
    height: 25vh; }
  .header__text-box {
    text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 100vh; } }
  @media only screen and (max-width: 37.5em) {
    .header__logo-box {
      margin-top: -20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .header__logo {
      height: 25vh;
      max-height: 15rem; } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to bottom right, black, rgba(255, 255, 255, 0.5)), url(../img/warp_transparent_hi_dpi.png); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; }
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #2e3233;
  padding: 2rem 0;
  font-size: 1.5rem;
  margin-top: -5vh; }
  .footer__footer-box {
    text-align: center; }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    padding: 2rem 0; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:first-child {
      margin: 0 2rem 0 2rem; }
    .footer__item:not(:last-child) {
      padding-right: 2rem; }
  .footer__link {
    transition: .1s linear color; }
    .footer__link:link, .footer__link:visited {
      color: #d4e1e6;
      text-decoration: none;
      display: inline-block; }
    .footer__link:hover {
      color: #00b4f6; }
    .footer__link:active {
      color: #12e4a6; }
  .footer__copyright {
    font-size: 1.2rem;
    color: #999; }
