@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin shadow($offset, $radius, $opacity) {
	box-shadow: 0 $offset $radius rgba($color-black, $opacity);
}

@mixin text-gradient {
	background-image: linear-gradient(to right, $aleph-green, $aleph-blue);
	-webkit-background-clip: text;
	color: transparent;
}

// available options:
// phone
// tablet-portrait
// tablet-landscape
// large-desktop

@mixin responsive($breakpoint) {
	@if ($breakpoint < $large-desktop) {
	    @media (max-width: $breakpoint) {
	        @content
	   }
	}

	@if ($breakpoint >= $large-desktop) {
	    @media (min-width: $breakpoint) {
	        @content
	   }
	}
}