// aleph branding colors
$aleph-green: #12e4a6;
$aleph-blue: #00b4f6;
$aleph-grey: #2e3233;
$aleph-light-grey: #d4e1e6;
$aleph-black: #060b0d;

// generic colors
$color-black: #000;
$color-white: #fff;