// aleph branding colors
$aleph-green: #12e4a6;
$aleph-blue: #00b4f6;
$aleph-grey: #2e3233;
$aleph-light-grey: #d4e1e6;
$aleph-black: #060b0d;

// generic colors
$color-black: #000;
$color-white: #fff;

// measurements
$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;

// font sizes
$font-size-paragraph: 1rem;
$font-size-h3: 1.4rem;
$font-size-h2: 3rem;
$font-size-h1: 5rem;