.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 95vh;
	margin-bottom: 2.5vh;
	background-image: linear-gradient(to bottom right, 
									  rgba($color-black, 1),
									  rgba($color-white, .5)), 
								      url(../img/warp.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	animation: fadeInHeader 1s ease-in-out;

	&__logo-box {
		position: absolute;
		top: 2rem;
		left: 1.6rem;
		animation: fadeIn 1s ease-in 1s;
		animation-fill-mode: backwards;
	}

	&__logo {
		height: 6rem;
	}

	&__text-box {
		text-align: center; 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	@include responsive($tablet-portrait) {
		height: 100vh;
	}

	@include responsive($phone) {
		&__logo-box {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 10vh;
			left: 0;
		}

		&__logo {
			height: 25vh;
			max-height: 15rem;
		}
	}
}