.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 95vh;
	margin-bottom: 2.5vh;
	background-image: linear-gradient(to bottom right, 
									  rgba($color-black, 1),
									  rgba($color-white, .5)), 
								      url(../img/warp_transparent.png);
	background-size: cover;
	background-position: top;
	position: relative;
	animation: fadeInHeader 1s ease-in-out;

	&__logo-box {
		margin-top: -20vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		animation: fadeIn 1s ease-in 1s;
		animation-fill-mode: backwards;
	}

	&__logo {
		height: 25vh;
	}

	&__text-box {
		text-align: center; 
	}

	@include responsive($tablet-portrait) {
		height: 100vh;
	}

	@include responsive($phone) {
		&__logo-box {
			margin-top: -20vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__logo {
			height: 25vh;
			max-height: 15rem;
		}
	}

	@media screen only and (min-resolution: 192dpi) and (min-width: 37.5em),
		   							    (min-width: 125em) {
		background-image: linear-gradient(to bottom right, 
						  rgba($color-black, 1),
						  rgba($color-white, .5)), 
					      url(../img/warp_transparent_hi_dpi.png);
	}
}