.btn {
	&,
	&:link,
	&:visited {
		font-family: Roboto, sans-serif;
		font-weight: 700;
		font-size: 1.4rem;
		text-decoration: none;
		padding: 1.3rem 3rem;
		display: inline-block;
		border-radius: $border-radius;
		transition: all .2s;
		animation: fadeIn 1s ease-in 1s;
		animation-fill-mode: backwards;
		position: relative;

		// for the <button> element
		border: none;
		cursor: pointer;

		@include responsive($tablet-portrait){
			padding: .75rem 1.25rem;
		}
	}

	&:hover {
		transform: translateY(-2px);
		@include shadow(1rem, 2rem, .2);
		background-color: $aleph-green;
		color: $aleph-light-grey;
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		@include shadow(.5rem, 1rem, .2);
	}

	&--green {
		background-color: $aleph-green;
		color: $aleph-black;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $font-size-paragraph;
		font-weight: 400;
		color: $aleph-blue;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $aleph-blue;
		padding: 3px;
		transition: .2s linear all;
	}

	&:hover {
		color: $color-white;
		background-color: $aleph-green;
		border-bottom: 1px solid $aleph-green;
		transform: translateY(-2px);
		@include shadow(.5rem, 1rem, .2);
	}

	&:active {
		transform: translateY(0px);
		@include shadow(.25rem, .5rem, .2);
	}
}