.card {
	perspective: 150rem;
	position: relative;
	height: 19rem;
	max-width: 25rem;

	&__side {
		height: 19rem;
		transition: all .5s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: $border-radius;

		&--front {
			background-image: linear-gradient(to bottom, darken($aleph-light-grey, 5%), darken($aleph-light-grey, 10%));
			z-index: 1;
		}

		&--back {
			background-image: linear-gradient(to bottom, darken($aleph-light-grey, 10%), darken($aleph-light-grey, 15%));
			transform: rotateY(180deg);
			z-index: 0;
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0deg);
	}

	&__icon {
		font-size: 10rem;
		text-align: center;

		&--mac {
			.fo-apple::before {
				background-image: linear-gradient(to bottom, desaturate($aleph-green, 20%), desaturate($aleph-blue, 20%));
				-webkit-background-clip: text;
				color: transparent;
			}
		}

		&--windows {
			.fo-win10::before {
				background-image: linear-gradient(to bottom, desaturate($aleph-green, 20%), desaturate($aleph-blue, 20%));
				-webkit-background-clip: text;
				color: transparent;
			}
		}

		&--linux {
			.fo-tux::before {
				background-image: linear-gradient(to bottom, desaturate($aleph-green, 20%), desaturate($aleph-blue, 20%));
				-webkit-background-clip: text;
				color: transparent;
			}
		}
	}

	&__heading {
		font-size: $font-size-h3;
		font-weight: 400;
		text-align: center;
	}

	&__details {
		padding-top: 1rem;
		font-size: $font-size-paragraph;
		text-align: center;
	}

	&__download-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__download-box {
		text-align: center;
	}

	@include responsive($tablet-portrait){
		margin-left: 12rem;
		height: auto;

		&__side {
			height: auto;
			transition: all .5s ease;
			position: relative;
			border-radius: $border-radius;

			&--back {
				transform: rotateY(0deg);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0deg);
		}

		&__heading {
			font-size: $font-size-h3;
			font-weight: 400;
			text-align: center;
			margin-bottom: 3rem;
		}

		&__icon {
			font-size: 6rem;
		}

		&__download-container {
			background-color: darken($aleph-light-grey, 10%);
			width: inherit;
			height: inherit;
			padding: 2rem 0;
		}

		&__download-box {
			text-align: center;
		}
	}
}