.composition {
	position: relative;

	&__photo {
		width: 55%;
		position: absolute;
		transition: .1s linear all;
		z-index: 0;

		@include responsive($tablet-portrait){
			position: relative;
			float: left;
			width: 33%
		}

		&--p1 {
			left: 0;
			top: -2rem;

			@include responsive($tablet-portrait){
				top: 0;
				left: 10%;
			}
		}

		&--p2 {
			right: 0;
			top: 0rem;

			@include responsive($tablet-portrait){
				top: 0;
			}
		}

		&--p3 {
			left: 20%;
			top: 4rem;

			@include responsive($tablet-portrait){
				top: 0;
				left: -10%;
			}
		}

		&:hover {
			transform: scale(1.05) translateY(.5rem);
			z-index: 1;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}

}