.demonstration {
	width: 50%;
	height: auto;
	margin: 10rem auto;
	background-color: rgba(255, 255, 255, .75);
	border-radius: $border-radius;
	padding: 3rem 5rem;
	transform: skewX(-12deg);
	transition: 1s linear all;
	opacity: 1;

	&__heading {
		transform: skewX(12deg);
	}

	&__subheading{
		font-size: 2rem;
	}

	&__text {
		transform: skewX(12deg);
	}

	&__text--description {
		padding-top: 1rem;
		font-size: 1.5rem;
		font-weight: 400;
	}

	@include responsive($tablet-portrait){
		width: 100%;
		padding: 2rem 3rem;
		height: auto;
	}

	@include responsive($phone){
		padding: 1rem 2rem;
		transform: skewX(0deg);
		height: auto;

		&__text {
			transform: skewX(0deg);
		}

		&__text--description {
			font-size: 1.5rem;
		}
	}
}