.transport-controls {
	display: inline-block;
	background-color: rgba($aleph-grey, .8);
	border-radius: $border-radius;
	padding: .8rem 2rem 0rem 2rem;

	&__icon {
		font-size: 4rem;
		margin: 0 1rem;
		@include text-gradient;
	}

	&__icon:hover {
		cursor: pointer;
	}

	&__label {
		color: $color-white;
		padding-bottom: 1rem;
	}
}