body {
	font-family: "Roboto Mono", monospace;
	font-weight: 300; 
	line-height: 1.5;
	color: $aleph-black;
	padding: 2rem;
}

.heading-primary {
	backface-visibility: hidden;
	margin: 2rem;

	&--main {
		color: $color-white;
		display: block;
		font-family: Roboto, sans-serif;
		font-size: $font-size-h1;
		font-weight: 400; 
		letter-spacing: 3.5rem;
		margin-right: -3.5rem;
		animation: fadeInMain .5s;
	}

	&--sub {
		color: $aleph-light-grey;
		display: block;
		font-size: $font-size-paragraph;
		font-weight: 300;
		letter-spacing: .17rem;
		animation: fadeIn .75s .75s;
		animation-fill-mode: backwards;
		text-align: left;
	}
}

.heading-secondary {
	font-size: $font-size-h2;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, $aleph-green, $aleph-blue);
	-webkit-background-clip: text;
	color: transparent;
}

.heading-tertiary {
	font-size: $font-size-h3;
	font-weight: 700;
}

.paragraph {
	font-size: $font-size-paragraph;
	font-weight: 400;

	&:not(:last-child){
		margin-bottom: 2rem;
	}
}

.text-frame {
	display: inline-block;
	width: 16rem;
	height: 4.6rem;
	background-color: rgba($aleph-light-grey, .6);
	border-radius: $border-radius;
	transform: skewX(-12deg);
}