body {
	font-family: "Roboto Mono", monospace;
	font-weight: 300; 
	line-height: 1.5;
	color: $aleph-black;
}

.heading-primary {
	backface-visibility: hidden;
	margin: 2rem;

	&--main {
		color: $color-white;
		display: block;
		font-family: Roboto, sans-serif;
		font-size: $font-size-h1;
		font-weight: 400; 
		letter-spacing: 3.5rem;
		margin-right: -3.5rem; // offset to account for letter spacing
		animation: fadeInMain .5s;
	
		@include responsive($phone){
			letter-spacing: 1rem;
			margin-right: -1rem;
			font-size: 5rem;
		}

	}

	&--sub {
		color: $aleph-light-grey;
		display: block;
		font-size: $font-size-paragraph;
		font-weight: 300;
		letter-spacing: .17rem;
		animation: fadeIn .75s .75s;
		animation-fill-mode: backwards;
		text-align: center;

		@include responsive($phone){
			letter-spacing: 0;
			font-size: 1rem;
		}

	}
}

.heading-secondary {
	font-size: $font-size-h2;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, $aleph-green, $aleph-blue);
	-webkit-background-clip: text;
	color: transparent;

	@include responsive($tablet-portrait){
		font-size: 4rem;
	}

	@include responsive($phone){
		font-size: 2.5rem;
	}

}

.heading-tertiary {
	font-size: $font-size-h3;
	font-weight: 700;
}

.paragraph {
	font-size: $font-size-paragraph;
	font-weight: 400;

	&:not(:last-child){
		margin-bottom: 2rem;
	}
}

.text-frame {
	display: inline-block;
	padding: .5rem 1.25rem;
	background-color: rgba($aleph-light-grey, .6);
	border-radius: $border-radius;
	transform: skewX(-12deg);
}

.about__body {
	@include responsive($phone){
		padding: 3rem 5rem;
	}
}