.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 14rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: .5rem !important; }

.u-unskew {
	transform: skewX(12deg) !important;
}