.section-about {
	background-color: $aleph-light-grey;
	padding: 14rem 0;
	margin-top: 2rem;
}

.section-features {
	margin-top: 2rem;
	padding: 14rem 0;
	background-image: linear-gradient(to bottom right, 
									  rgba($color-black, 1),
									  rgba($color-white, .8)), 
								      url(../img/bent.jpg);
	background-size: cover;
}

.section-downloads {
	background-color: $aleph-light-grey;
	padding: 20rem 0;
	margin-top: 2rem;
}

.section-demonstration {
	padding: 15rem 0;
	margin-top: 2rem;
	position: relative;
}